<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Moy super gossip project!</h1>
    <% gossips.each_with_index do |gossip, index| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %><br>
          <a href="/gossips/<%= (index + 1) %>/"> Link to this</a>
        </p>
      <% end %>
      <a href="/gossips/new/">Create a new gossip</a>
  </body>
</html>